---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  grownetics:

services:
  growdash:
    restart: always
    networks:
        - grownetics
    environment:
        - DEV
        - FACILITY_NAME
        - FACILITY_ID
        - CERES
        - DEMO
        - ENVIRONMENT
        - REMOTE_URL
        - PORT
        - VERSION
        - SHORT_NAME

        - SET_POINT_ALARM_TOLERANCE_PERCENTAGE
        - BURNOUT_PROTECTION_DELAY

        - DB_HOSTNAME
        - MYSQL_ROOT_PASSWORD
        - MYSQL_DATABASE
        - MYSQL_TEST_DATABASE
        - MYSQL_USER
        - MYSQL_PASSWORD

        - REDIS_HOSTNAME
        - RABBIT_HOST
        - RABBIT_PORT
        - RABBIT_USER
        - RABBIT_PASS
        - INFLUX_HOST
        - INFLUX_PORT
        - TWILIO_SID
        - TWILIO_TOKEN


        - AWS_ACCESS_KEY_ID
        - AWS_SECRET_ACCESS_KEY
        - RESTIC_REPOSITORY
        - RESTIC_PASSWORD

        - SMTP_HOST
        - SMTP_USER
        - SMTP_PASS
        - CONSUL_HOST
    image: grownetics/growdash:${VERSION}
    volumes:
        - "{{ volumes_root }}/grownetics/tmp:/tmp:cached"

  deviceapi:
    restart: always
    networks:
        - grownetics
    environment:
        - DEV
        - FACILITY_NAME
        - FACILITY_ID
        - CERES
        - ENVIRONMENT
        - REMOTE_URL
        - VERSION
        - SHORT_NAME

        - SET_POINT_ALARM_TOLERANCE_PERCENTAGE
        - BURNOUT_PROTECTION_DELAY

        - DB_HOSTNAME
        - MYSQL_ROOT_PASSWORD
        - MYSQL_DATABASE
        - MYSQL_TEST_DATABASE
        - MYSQL_USER
        - MYSQL_PASSWORD

        - REDIS_HOSTNAME
        - RABBIT_HOST
        - RABBIT_PORT
        - RABBIT_USER
        - RABBIT_PASS
        - INFLUX_HOST
        - INFLUX_PORT
        - CONSUL_HOST
    image: grownetics/growdash:${VERSION}
    volumes:
      - "{{ volumes_root }}/grownetics/tmp:/tmp:cached"

  nginx:
    image: grownetics/nginx:${VERSION}
    networks:
        - traefik_network
        - grownetics
    restart: always
    ports:
      - "81:81"
    links:
        - growdash
        - deviceapi
    labels:
      - "traefik.http.services.grownetics.loadbalancer.server.scheme=http"
      - "traefik.http.services.grownetics.loadbalancer.server.port=80"
{% include './labels.j2' %}

  appdb:
    image: mariadb #:10.3
    restart: always
    command: mysqld --sql_mode=""
    environment:
        - MYSQL_ROOT_PASSWORD
        - MYSQL_DATABASE
        - MYSQL_TEST_DATABASE
        - MYSQL_USER
        - MYSQL_PASSWORD
    volumes:
        - "{{ volumes_root }}/grownetics/appdb:/var/lib/mysql"
    networks:
        - grownetics

  redis:
    image: redis
    restart: always
    networks:
        - grownetics

  growsocket:
    image: grownetics/socketio:latest
    restart: always
    ports:
        - 8989:8989
    networks:
        - traefik_network
        - grownetics
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.socket.loadbalancer.server.scheme=http"
      - "traefik.http.services.socket.loadbalancer.server.port=8989"
      - "traefik.http.routers.socket-http.rule=Host(`socket.{{ service_domain }}`)"
      - "traefik.http.routers.socket-http.entrypoints=http"
      - "traefik.http.routers.socket-http.middlewares={% if grownetics.https_only %}redirect@file, security-headers@file, {% else %}{% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.socket.rule=Host(`socket.{{ service_domain }}`)"
      - "traefik.http.routers.socket.entrypoints=https"
      - "traefik.http.routers.socket.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.socket.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.socket.tls.certresolver=dns"
      - "traefik.http.routers.socket.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.socket.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.socket.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.socket-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`) && Path(`/socket.io/`)"
      - "traefik.http.routers.socket-tor-http.entrypoints=http"
      - "traefik.http.routers.socket-tor-http.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  rabbitmq:
    image: rabbitmq:3.6-management-alpine
    restart: always
    environment:
      # - RABBITMQ_DEFAULT_USER:RABBIT_USER
      - RABBITMQ_DEFAULT_USER=rabbit
      # - RABBITMQ_DEFAULT_PASS:RABBIT_PASS
      - RABBITMQ_DEFAULT_PASS=rabbit
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - grownetics

  growpulse:
    image: grownetics/growdash:${VERSION}
    restart: always
    command: /var/www/html/growpulse.sh
    networks:
      - grownetics
    environment:
      - DEV
      - FACILITY_NAME
      - FACILITY_ID
      - CERES
      - ENVIRONMENT
      - REMOTE_URL
      - SHORT_NAME
      - VERSION

      - DB_HOSTNAME
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_TEST_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD

      - REDIS_HOSTNAME
      - RABBIT_HOST
      - RABBIT_PORT
      - RABBIT_USER
      - RABBIT_PASS
      - INFLUX_HOST
      - INFLUX_PORT
      - THRESHOLD_DEVICE_BOOTS
      - THRESHOLD_DATA_RECEIVED
      - THRESHOLD_CT_ON
      - ZULIP_URL
      - ZULIP_CREDS
      - CONSUL_HOST
      - TWILIO_SID
      - TWILIO_TOKEN


  #
  # Service Discovery - Consul
  #
  consul:
    image: consul
    restart: always
    ports:
      - "8500:8500"
    networks:
    - grownetics
    volumes:
      - "{{ volumes_root }}/grownetics/consul-data:/consul/data"
      - "{{ volumes_root }}/grownetics/consul-config:/consul/config"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.consul.loadbalancer.server.scheme=http"
      - "traefik.http.services.consul.loadbalancer.server.port=8500"
      - "traefik.http.routers.consul-http.rule=Host(`consul.{{ service_domain }}`)"
      - "traefik.http.routers.consul-http.entrypoints=http"
      - "traefik.http.routers.consul-http.middlewares={% if grownetics.https_only %}redirect@file, security-headers@file, {% else %}{% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.consul.rule=Host(`consul.{{ service_domain }}`)"
      - "traefik.http.routers.consul.entrypoints=https"
      - "traefik.http.routers.consul.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.consul.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.consul.tls.certresolver=dns"
      - "traefik.http.routers.consul.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.consul.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.consul.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.consul-tor-http.rule=Host(`consul.{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.consul-tor-http.entrypoints=http"
      - "traefik.http.routers.consul-tor-http.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  # Holds all data points, as well as system performance data and other time series metrics
  influxdb:
    image: influxdb
    restart: always
    volumes:
      - "{{ volumes_root }}/grownetics/influxdb:/var/lib/influxdb"
    networks:
      - grownetics
    environment:
      - INFLUXDB_HTTP_LOG_ENABLED=false

  # Alerting
  kapacitor:
    image: kapacitor
    networks:
      - grownetics
    links:
      - influxdb
    environment:
      - KAPACITOR_INFLUXDB_0_URLS_0=http://influxdb:8086

  # Records system metrics to Influx
  telegraf:
    image: telegraf
    networks:
      - grownetics
    restart: always
    volumes:
      - "{{ volumes_root }}/grownetics/telegraf.conf:/etc/telegraf/telegraf.conf"
      - /var/run/docker.sock:/var/run/docker.sock

  notifications:
    image: grownetics/growdash:${VERSION}
    networks:
      - grownetics
    restart: always
    command: bash -c "chmod +x /var/www/html/notification.sh && /var/www/html/notification.sh"
    environment:
      - DEV
      - FACILITY_NAME
      - SHORT_NAME
      - FACILITY_ID
      - CERES
      - ENVIRONMENT
      - REMOTE_URL
      - VERSION

      - DB_HOSTNAME
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_TEST_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD

      - REDIS_HOSTNAME
      - RABBIT_HOST
      - RABBIT_PORT
      - RABBIT_USER
      - RABBIT_PASS
      - INFLUX_HOST
      - INFLUX_PORT

      - TWILIO_SID
      - TWILIO_TOKEN

      - SMTP_HOST
      - SMTP_USER
      - SMTP_PASS

      - ZULIP_URL
      - ZULIP_PASS

      - CONSUL_HOST

  # Charting and display
  chronograf:
    image: chronograf
    restart: always
    networks:
      - traefik_network
      - grownetics
    links:
      - influxdb
      - kapacitor
    volumes:
      - "{{ volumes_root }}/grownetics/chronograf:/var/lib/chronograf"
    environment:
      - INFLUXDB_URL=http://influxdb:8086
      - KAPACITOR_URL=http://kapacitor:8086
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.chronograf.loadbalancer.server.scheme=http"
      - "traefik.http.services.chronograf.loadbalancer.server.port=8888"
      - "traefik.http.routers.chronograf-http.rule=Host(`chronograf.{{ service_domain }}`)"
      - "traefik.http.routers.chronograf-http.entrypoints=http"
      - "traefik.http.routers.chronograf-http.middlewares={% if grownetics.https_only %}redirect@file, security-headers@file, {% else %}{% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.chronograf.rule=Host(`chronograf.{{ service_domain }}`)"
      - "traefik.http.routers.chronograf.entrypoints=https"
      - "traefik.http.routers.chronograf.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.chronograf.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.chronograf.tls.certresolver=dns"
      - "traefik.http.routers.chronograf.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.chronograf.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.chronograf.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.chronograf-tor-http.rule=Host(`chronograf.{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.chronograf-tor-http.entrypoints=http"
      - "traefik.http.routers.chronograf-tor-http.middlewares={% if grownetics.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
